h1{
    color: cornflowerblue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.inputContainer{
    padding: 2rem;
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin-bottom: 1.5em;
}
.buttonContainer{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}
.show{
    visibility: visible;
}
.hide{
    color: red;
    visibility: hidden;
}
#result{
    color: cornflowerblue;
    font-weight: 500;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}